<form id="email-newsletter-form" action="http://ourfathersproject.us6.list-manage.com/subscribe/post?u=9ff93bf8ce55f43622365fa3c&amp;id=261ac9b8a1" method="post">
  <input id="email" type="email" name="EMAIL" placeholder="you@example.com" class="required email">
  <button class="button" name="subscribe" value="Subscribe">Sign up</button>
</form>
<p class="disclaimer">
  We respect your <%= link_to "privacy", privacy_path %>. We’ll never share your email address with anyone.
</p>
