<%
  content_for :title, "Thank You for Your Donation"
  @current_section = :donate
%>

<div class="twelve columns">
  <h1>Thank You for Your Donation</h1>
  <p class="lead">
    You are making a difference with your donation.
  </p>
  <p>
    We are never short on opportunities to have a positive influence in the lives of our members, their families, and
    their communities. Financial contributions from supporters like you make this possible.
  </p>
  <p>
    We will provide you with a receipt for tax purposes by the January 31 deadline next year. Please
    <%= link_to "contact us", contact_path %> if you have any questions.
  </p>
  <p>
    God bless you!
  </p>
  <p>
    - The board of directors and staff of Our Father's Project
  </p>
</div>