#content {
  padding: 5px 0 40px;

  &.has-sidebar {
    border-right: 2px solid #eee;
    padding-right: 20px;
  }
}

// Small screen
@media only screen and (max-width: 767px) {
  #content {
    &.has-sidebar {
      border-right: 0;
    }
  }
}
