@import "settings";

#email-newsletter-form {
  background: #fff;
  border: 1px solid #ccc;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
       -o-border-radius: 8px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-bottom: 10px;
  padding: 0;

  &.lit {
       -mox-box-shadow: 0 0 5px $mainColor;
        -ms-box-shadow: 0 0 5px $mainColor;
         -o-box-shadow: 0 0 5px $mainColor;
    -webkit-box-shadow: 0 0 5px $mainColor;
            box-shadow: 0 0 5px $mainColor;
  }

  label {
    display: none;
  }

  input {
    border: 0;
    background: none;
       -moz-box-shadow: 0 0 0;
        -ms-box-shadow: 0 0 0;
         -o-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    display: inline-block;
    font-size: 27px;
    height: 47px;
    margin: 0;
    width: 73%;
  }

  button {
    position: relative;
      top: -5px;
      left: -5px;
    width: 25%;
  }
}

// Small screen
@media only screen and (max-width: 767px) {
  #email-newsletter-form {
    input {
      width: 72%;
    }

    button {
      float: right;
      margin: 5px 5px 0 0;
      position: static;
    }
  }
}
