.icon {
  background: url(/assets/icons.png);
  display: inline-block;

  &.email {
    background-position: 0 -23px;
    margin: 0 5px -3px 0;
    height: 16px;
    width: 16px;
  }

  &.ohio {
    height: 23px;
    margin: 0 0 -6px 2px;
    width: 21px;
  }
}
