.personal-bio {
  margin-top: 30px;

  .bio {
    h2 {
      font-weight: normal;
      margin-top: 0;

      em {
        color: #666;
        font-size: 18px;
        font-style: normal;
      }
    }
  }
}
