#ministry {
  overflow: hidden;

  header {
    background-position-y: -35px;
    overflow: hidden;
    padding: 2px 0;

    #global {
      ul {
        float: right;

        li {
          font-size: 14px;
        }
      }
    }
  }
}

// Small screen
@media only screen and (max-width: 767px) {
  #ministry {
    header {
      background-position: 0 -49px !important;

      #global-menu {
        margin-top: -22px;
      }

      #global {
        ul {
          float: none;
        }
      }
    }
  }
}
