#sidebar {
  padding: 0;

  .section {
    border-bottom: 2px solid #EEE;
    margin-bottom: 20px;
    padding: 0 0 20px 20px;
  }

  #local {
    ul,
    ul li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul {
      li {
        padding-bottom: 5px;

        a {
          color: #222;

          &:hover {
            color: #A70000;
          }
        }
      }
    }
  }
}

// Small screen
@media only screen and (max-width: 767px) {
  #sidebar {
    border-top: 2px solid #eee;
  }
}
