#the-project {
  #the-project-hero {
    background: #000 url(/assets/the_project_hero_background.jpg) bottom;
    background-size: cover;
    color: #fff;

    .logo {
      padding: 15px 0 10px;
    }

    .content {
      padding: 0.25em 0 20px 10px;

      h1 {
        color: #fff;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        margin-bottom: 10px;

        &.lead {
          font-size: 17px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #the-project-summary {
    padding: 20px 0 10px;
  }

  #the-project-stories {
    padding-bottom: 20px;

    p {
      img {
        margin: 0 !important;
      }
    }
  }

  #the-project-testimonials {
    margin-bottom: 50px;

    blockquote {
      background: url(/assets/blockquote_background.png) no-repeat 0 7px;
      border-left: 0;
      padding-top: 0;
      padding-left: 55px;

      p,
      cite {
        color: #333;
      }

      &.primary {
        p {
          font-size: 18px;
        }
      }

      cite {
        font-size: 18px;
        margin-top: -10px;
      }
    }
  }

  #the-project-email-newsletter {
    float: left;
    width: 66%;
  }
}

// Medium screens
@media only screen and (max-width: 990px) and (min-width: 768px) {
  #the-project {
    #the-project-hero {
      .logo {
        text-align: center;
      }

      .content {
        padding-top: 1em;

        h1 {
          font-size: 28px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

// Small screen
@media only screen and (max-width: 767px) {
  #the-project {
    #the-project-hero {
      .logo {
        text-align: center;
      }

      .content {
        padding-top: 0;

        h1 {
          display: none;
        }
      }
    }

    #the-project-stories {
      p {
        &.photo {
          text-align: center;
        }
      }
    }
  }
}

// Old IE
.ie8 {
  #the-project {
    width: 100%;

    #the-project-hero {
      background: #000 url(/assets/the_project_hero_background.jpg) top center no-repeat;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/the_project_hero_background.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/the_project_hero_background.jpg', sizingMethod='scale')";
      width: 100%;
    }
  }
}
