<footer>
  <div class="row">
    <div class="six columns">
      <p>
        &copy; <%= Time.now.year %> Our Father's Project. All rights reserved.
      </p>
      <nav>
        <li>
          <%= link_to "Privacy Policy", privacy_path %>
        </li>
      </nav>
    </div>
    <div class="sitemap three columns">
    </div>
    <div class="social three columns">
      <h3>Connect with Us</h3>
      <ul>
        <li>
          <a href="http://ourfathersproject.us6.list-manage1.com/subscribe?u=9ff93bf8ce55f43622365fa3c&amp;id=261ac9b8a1">
            <i class="email icon" title="Email"></i>
            Email Newsletter</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
